.bare1{
    background-color: #007668;
    gap: 20px;
}
.icone .bi{
    margin-right: 10px;
    background-color: #007668 !important;
    gap: 20px;
}
.barnav{
    background-color: #008374;
}
.started{
    background-color: #1A9082;
}
.contain1{
    position: relative;
    height: 600px;
    background-color: #008374 !important;
}

.cartes{
    position: absolute;
    z-index: 3;
    height: 200px;
    width: 250px;
    /* margin-top: -80px; */
    background-color: #008374 !important;
}
.feature{
    margin-top: -80px;
    margin-bottom: 200px;
}

.get{
    background-color: #1A9082;
}








/* .bordur{
    border: 1px solid black;
} */

 
 
 .card
 {
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 #tof
{
    height: 50px;
    
}







@media screen and (max-width:800px) {
    .ok4
    {
        display: flex;
        flex-direction: column;
        height: 1800px;
    }
    .about
    {
        height: 1500px;
        display: flex;
        flex-direction: column;
    }
    #tof1
    {
        height: 300px;
    }

    .avant
    {
        height: 900px;
        display: flex;
        
    }
    .av
    {
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
    }
    
}